# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

**/task1_queries.txt
**/task2_queries.txt
**/file1.tsv
**/out1.txt
**/out2.txt
**/real-results.txt
**/real-results-2.txt
